/* body {
  .heading{text-align: center;}
  .images{
    display: block;
    margin: 50px auto;
  }
  width: 100;
  height: 100;
  margin: 20; */
  /* .bottom{float: left;}


  .down{float: left;}


  .adjacent{float: left;}

  .final{float: left;}
  .bottom{background-color: red;}
  .down{background-color: red;}
  .adjacent{background-color: red;}
  .final{background-color: red;}
  #width{width: 800px,centre;} */

  

section#details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}
header h1{display: flex;
  justify-content: center;
  align-items: center;
}
nav{display: flex;
  justify-content: center;

}

